<html>
	<head>
		<title></title>
	</head>
	<body>
        <h1>The Team</h1>
        @foreach (var item in Model)
        {
            <div class="team-data">
                <div class="id">@item.Id</div>
                <div class="name">@item.Name</div>
                <div>@LinkFromEntity("bugs", item, "bugs")</div>
            </div>
        }
        <br/>
        <a href="/" rel="root">Index</a><br/>
        <a href="/bugs/pending" rel="pending bugs">Pending Bugs</a><br/>
        <a href="/bugs/active" rel="active bugs">Active Bugs</a><br/>
        <a href="/bugs/resolved" rel="resolved bugs">Resolved Bugs</a><br/>
        <a href="/bugs/closed" rel="closed bugs">Closed Bugs</a><br/>
        <a href="/team">Team</a>
    </body>
</html>