@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Default Index Page</title>
    </head>
    <body>
        <div>
            Welcome!  
        </div>
    </body>
</html>