<html>
	<head>
		<title><%= title %></title>
	</head>
    <body>
        <h1></h1>
        <div id="bugs">
            
            <% if(typeof(model) != 'undefined') { %>
            
                <ul class="all">

                    <% 
                    for(var i=0; i < model.bugs.length; i++) { 
                        var bug = model.bugs[i];
                    %>

                        <li>
                            Title: <span class="title"><%= bug.title %></span>
                            Description: <span class="description"><%= bug.description %></span>
                            Assigned To: <span class="assigned-to"><%= bug.assignedTo %></span>

                            <% if(bug.status == "Backlog") { %>

                            <form class="move working next" action="/bugs/working" method="POST" title="Move to Working" >
                                <input name="id" type="hidden" value="<%= bug._id %>"/>
                                <input name="comments" type="text" value=""/>
                                <input name="submit" type="submit" value="Move to Working"/>
                            </form>

                            <% } %>


                            <% if(bug.status == "Working") { %>

                            <form class="move backlog" action="/bugs/backlog" method="POST" title="Move to Backlog" >
                                <input name="id" type="hidden" value="<%= bug.id %>"/>
                                <input name="comments" type="text" value=""/>
                                <input name="submit" type="submit" value="Move to Backlog"/>
                            </form>
                            <form class="move qa next" action="/bugs/qa" method="POST" title="Move to QA" >
                                <input name="id" type="hidden" value="<%= bug.id %>"/>
                                <input name="comments" type="text" value=""/>
                                <input name="submit" type="submit" value="Move to QA"/>
                            </form>

                            <% } %>

                            <% if(bug.status == "Done") { %>
                            
                            <form class="move working" action="/bugs/working" method="POST" title="Move to Working" >
                                <input name="id" type="hidden" value="<%= bug.id %>"/>
                                <input name="comments" type="text" value=""/>
                                <input name="submit" type="submit" value="Move to Working"/>
                            </form>

                            <% } %>

                            <% if(bug.status == "QA") { %>

                            <form class="move done next" action="/bugs/done" method="POST" title="Move to Done" >
                                <input name="id" type="hidden" value="<%= bug.id %>"/>
                                <input name="comments" type="text" value=""/>
                                <input name="submit" type="submit" value="Move to Done"/>
                            </form>
                            <form class="move working" action="/bugs/working" method="POST" title="Move to Working" >
                                <input name="id" type="hidden" value="<%= bug.id %>"/>
                                <input name="comments" type="text" value=""/>
                                <input name="submit" type="submit" value="Move to Working"/>
                            </form>

                            <% } %>
                        </li>

                    <% } %>

                </ul>

            <% } %>
        </div>
        <div id="forms">

            <% if(typeof(model) == 'undefined') { %>

            <h2>Add a new bug!</h2>
            <form class="new backlog" action="/bugs/backlog" method="POST" title="Add a new bug" >
                Title: <input name="title" type="text" value=""/>
                Description: <input name="description" type="text" value=""/>
                <input name="submit" type="submit" value="Add to Backlog"/>
            </form>

            <% } %>
        </div>
        
        <div id="links">
            <h2>Navigation</h2>
            <a href="/bugs" rel="index">Index</a><br/>
            <a href="/bugs/backlog" rel="backlog">Backlog</a><br/>
            <a href="/bugs/working" rel="working">Working</a><br/>
            <a href="/bugs/qa" rel="qa">In QA</a><br/>
            <a href="/bugs/done" rel="done">Done</a>    
        </div>
    </body>
</html>